@import url('https://fonts.googleapis.com/css?family=Anton|Montserrat');

body {
  margin: 0;
}

.homepage-background {
  background-image: url("../images/glitter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

.homepage-wrapper {
  width: 60%;
  margin: 0 auto;

}

h1 {
  font-family: 'Anton', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size:20px!important;
  text-align: center;
  padding-top: 20px!important;
  letter-spacing: 2px;
}

.logo {
  display: block;
  margin: 0 auto;
}



.navbar {
  background-color: transparent!important;
  margin: 0!important;
}

.navbar a {
  color: white;
  font-family: 'Anton', sans-serif;
}

.navbar-menu {
  background-color: transparent!important;
}

.award {
  width: 155px;
  height: 155px;
  display: block;
  margin: 0 auto;
  padding: 20px;
}

.homepage-copy {
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

input {
  background-color: rgba(255,255,255,0.2);
  border: 0px;
  height: 40px;
  width: 100%;
  padding: 0;
}

::placeholder {
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

button {
  background-color: #D49B65;
  border: 0;
  text-align: center;
  padding: 10px 15px;
  margin: 10px auto!important;
  display: block;
}

.prounced {
  font-size: 10px;
  color: white;
  text-align: center;
  padding: 5px;

}

input, select, textarea{
    color: white;
    text-align: center;
}

.examples {
  font-style: italic;
}

.lastp {
  padding-top: 20px!important;
}

.submittedconfirmation {
  color: white;
  text-align: center;
  width: 87px;
  padding: 10px 25px;
}
