@import url('https://fonts.googleapis.com/css?family=Anton|Montserrat');

body {
  margin: 0;
}

.background {
  background-image: url("../images/glitter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

.homepage-wrapper {
  width: 60%;
  margin: 0 auto;

}

h1 {
  font-family: 'Anton', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size:20px!important;
  text-align: center;
  padding-top: 20px!important;
  letter-spacing: 2px;
}

h2 {
  font-family: 'Anton', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size:18px!important;
  text-align: center;
  padding-top: 20px!important;
  letter-spacing: 2px;
}

.logo {
  display: block;
  margin: 0 auto;
}



.navbar {
  background-color: transparent!important;
  margin: 0!important;
}

.navbar a {
  color: white;
  font-family: 'Anton', sans-serif;
}

.navbar a:hover {
  color: white!important;
  background-color: #D49B65!important;
}

.navbar-menu {
  background-color: transparent!important;
}

.award {
  width: 155px;
  height: 155px;
  display: block;
  margin: 0 auto;
  padding: 20px;
}

.homepage-copy {
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

input {
  background-color: rgba(255,255,255,0.2);
  border: 0px;
  height: 40px;
  width: 100%;
  padding: 0;
}

::placeholder {
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

button {
  background-color: #D49B65;
  border: 0;
  text-align: center;
  padding: 10px 15px;
  margin: 10px auto!important;
  display: block;
}

.prounced {
  font-size: 10px;
  color: white;
  text-align: center;
  padding: 5px;

}

input, select, textarea{
    color: white;
    text-align: center;
}

.examples {
  font-style: italic;
}

.lastp {
  padding-top: 20px!important;
}

.submittedconfirmation {
  color: white;
  text-align: center;
  width: 87px;
  padding: 10px 25px;
}

ul {
  padding-top: 20px!important;
}


.card {
    min-height: 235px!important;
    background-color: black!important;
    border: 2px solid #D49B65;

}

.card:hover {
  -moz-box-shadow:    inset 0 0 50px #D49B65;
  -webkit-box-shadow: inset 0 0 50px #D49B65;
  box-shadow:         inset 0 0 50px #D49B65;
}

.card h1 {
  color: white;
  height: 85px;
}

.card select {
  text-align: center!important;
  margin: 0 auto!important;
  width: 190px;
  display: block;
  background-color: black;
  border: 0;
  border-bottom: 1px solid white;
  font-size: 20px;

}
.subtext {
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;

}

form {
  padding: 50px;
  max-width: 500px;
  margin: 0 auto;
}

.login-input {
  background-color: transparent!important;
  border: 0px!important;
  border-radius: 0!important;
  border-bottom: 1px solid white!important;

}

::placeholder {
  color: white!important;
  font-size:  14px;
}

// RESULT PAGE FLIP CARDS

#f1_container {
  position: relative;
  margin: 10px auto;
  height: 420px;
  width: 350px;
  z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
}

.winnner-image {
  height: 400px;
}

.winner-card {
  height: 420px;
  width: 350px;
}
